<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myaap_gestion_of_budget">
<uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAAP_GESTION_OF_BUDGET">
        <activity android:name=".Dashboard"
            android:exported="true"/>
        <!--<activity
            android:name=".Edit_Passwd"
            android:exported="true" /> -->
        <activity
            android:name=".addBudget"
            android:exported="true" />
        <activity
            android:name=".EditProfil"
            android:exported="true" />
        <activity
            android:name=".Add__"
            android:exported="true" />
        <activity
            android:name=".addBudget"
            android:exported="true"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Start"
            android:exported="true"


            />

        <activity
            android:name=".Profil"
            android:exported="true" />
        <activity android:name=".GroupActions" android:exported="true" />
        <activity android:name=".Sign_Up" />
        <activity android:name=".login" />
        <activity
            android:name=".Edit_Passwd"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>